<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgf.mapper.SysPermissionMapper">
    <select id="findRolePermissions" resultType="com.cgf.entity.SysPermission">
        SELECT p.*  FROM `sys_role` r
            LEFT JOIN `sys_role_permission` rp on r.`role_id` = rp.`role_id`
            LEFT JOIN `sys_permission` p on p.`permission_id` = rp.`permission_id`
        WHERE r.`role_id` =  #{roleId};
    </select>
</mapper>
